<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Tablist by kaushik2d</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Tablist</h1>
      <h2 class="project-tagline"></h2>
      <a href="https://github.com/kaushik2d/tabList" class="btn">View on GitHub</a>
      <a href="https://github.com/kaushik2d/tabList/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/kaushik2d/tabList/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <p>`&lt;!DOCTYPE html&gt;
</p>



<p></p>


    .liClass{
        display: inline;
        list-style-type: none;
        padding-right: 20px;
        float: left;
    }
    .inputAdd {
        margin-top: 20px;
    }

    .inputSpanLabel {
        font-size: 100%;
    }

    .closeButton {
        font-size: 100%;
        border: 0px;
        padding-right: 0;
    }


<p></p>

<pre><code>&lt;script&gt;

    var app = angular.module("tagList", []);

    // 
    app.factory('myStorageService', function() {
        var tags = [];
        return {
            addItem: function(addMe) {
                var errortext = true;
                if (tags.indexOf(addMe) == -1) {
                    tags.push(addMe);
                    addMe = "";
                } else {
                    errortext = "The tag name is already in your tag list.";
                }
                return {errortext: errortext, tags : tags}
            },
            removeItem : function (x) {
                tags.splice(x, 1);
                return {errortext: "", tags : tags}
            },
            getTags : function () {
                return tags;
            }

        };
    });

    app.controller("tabCtrl", ['$scope', "myStorageService", function($scope, myStorageService) {

        $scope.tags = myStorageService.getTags();

        $scope.addItem = function () {
            $scope.errortext = "";
            if (!$scope.addMe) {return;}        
            var returnVal = myStorageService.addItem($scope.addMe);
            if (returnVal.errortext !== true) {
                $scope.errortext = returnVal.errortext
            }
            $scope.tags = returnVal.tags;
        };

        $scope.removeItem = function (x) {
            var returnVal = myStorageService.removeItem(x);
            $scope.tags = returnVal.tags;
            $scope.errortext = '';
        };
    }]);
&lt;/script&gt;

&lt;div ng-app="tagList" ng-controller="tabCtrl"&gt;
    &lt;div class="container theme-showcase" role="main"&gt;
        &lt;div class="jumbotron"&gt;
            &lt;p&gt;Tag List&lt;/p&gt;
            &lt;div class="row"&gt;
                &lt;ul&gt;
                    &lt;li class="liClass" ng-repeat="x in tags"&gt;
                        &lt;span class="label label-success inputSpanLabel"&gt;{{x}} 
                            &lt;button class="label label-success closeButton" ng-click="removeItem($index)" type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
                                &lt;span aria-hidden="true"&gt;&amp;times;&lt;/span&gt;
                            &lt;/button&gt;
                        &lt;/span&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
            &lt;input class="inputAdd" ng-model="addMe"&gt;
            &lt;button ng-click="addItem()"&gt;Add&lt;/button&gt;
            &lt;p&gt;{{errortext}}&lt;/p&gt;
            &lt;p&gt;You cannot add a two entries with the same name() &lt;/p&gt;
            &lt;p&gt;* Case Sensitive &lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>

<p>

`</p>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/kaushik2d/tabList">Tablist</a> is maintained by <a href="https://github.com/kaushik2d">kaushik2d</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>
