<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style type="text/css">
    .liClass{
        display: inline;
        list-style-type: none;
        padding-right: 20px;
        float: left;
    }
    .inputAdd {
        margin-top: 20px;
    }

    .inputSpanLabel {
        font-size: 100%;
    }

    .closeButton {
        font-size: 100%;
        border: 0px;
        padding-right: 0;
    }
</style>
<body>

    <script>

        var app = angular.module("tagList", []);

        // 
        app.factory('myStorageService', function() {
            var tags = [];
            return {
                addItem: function(addMe) {
                    var errortext = true;
                    if (tags.indexOf(addMe) == -1) {
                        tags.push(addMe);
                        addMe = "";
                    } else {
                        errortext = "The tag name is already in your tag list.";
                    }
                    return {errortext: errortext, tags : tags}
                },
                removeItem : function (x) {
                    tags.splice(x, 1);
                    return {errortext: "", tags : tags}
                },
                getTags : function () {
                    return tags;
                }

            };
        });

        app.controller("tabCtrl", ['$scope', "myStorageService", function($scope, myStorageService) {
            
            $scope.tags = myStorageService.getTags();

            $scope.addItem = function () {
                $scope.errortext = "";
                if (!$scope.addMe) {return;}        
                var returnVal = myStorageService.addItem($scope.addMe);
                if (returnVal.errortext !== true) {
                    $scope.errortext = returnVal.errortext
                }
                $scope.tags = returnVal.tags;
            };

            $scope.removeItem = function (x) {
                var returnVal = myStorageService.removeItem(x);
                $scope.tags = returnVal.tags;
                $scope.errortext = '';
            };
        }]);
    </script>

    <div ng-app="tagList" ng-controller="tabCtrl">
        <div class="container theme-showcase" role="main">
            <div class="jumbotron">
                <p>Tag List</p>
                <div class="row">
                    <ul>
                        <li class="liClass" ng-repeat="x in tags">
                            <span class="label label-success inputSpanLabel">{{x}} 
                                <button class="label label-success closeButton" ng-click="removeItem($index)" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </span>
                        </li>
                    </ul>
                </div>
                <input class="inputAdd" ng-model="addMe">
                <button ng-click="addItem()">Add</button>
                <p>{{errortext}}</p>
                <p>You cannot add a two entries with the same name() </p>
                <p>* Case Sensitive </p>
            </div>
        </div>
    </div>

</body>
</html>
